

.page-wrapper{
      outline: 1px solid rgba(0,0,0,0.0);
        
}


body { 
	font: 75% sans-serif;
	line-height: 1.88889;
	color: grey; 
    background: url(img/foto1.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

p{
    font-family: monospace;
    font-size: 14px;
}



.intro header h1{
    color: #2E4549;
    text-align: center;
    font-weight: 200;
    margin: 10px 0;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
   font-family: 'Lobster', cursive;
    font-size: 80px;
      
}





h2{
    text-align: center;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    font-size: 20px;
}

h2:hover{
    color: #A14A4A;
    font-size: 30px;
    transition: 02s
    
}


.summary {
    width: 820px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 5px 40px rgba(0,0,0,0.4);
        
}

.summary p{
    text-align: center;
    letter-spacing: 3px; 
    font-weight: 300;
   
    
    
}


.preamble{
    
    width: 850px;
    border: 1px solid gray;
    margin-top: 30px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 42px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.6);
    background-image: initial;
     
    }

.preamble p{
   
    font-family: 'Lobster', cursive;
}
.explanation {	
	 width: 850px;
    border: 1px solid gray;
    margin-top: 30px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 42px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.4);
	}

.explanation p{
    font-family: 'Lobster', cursive;
}
.participation{
     width: 850px;
    border: 1px solid gray;
    margin-top: 30px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 42px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.4);
    background: rgba(255,255,255,0.6);
    background-image: initial;
   
}

.participation p{
    font-family: 'Lobster', cursive;
}

.benefits {
     width: 850px;
    border: 1px solid gray;
    margin-top: 30px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 5px 40px rgba(0,0,0,0.4);
    
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 42px;
    
}
.benefits p{
    font-family: 'Lobster', cursive;
}

.requirements{
    width: 850px;
    border: 1px solid gray;
    margin-top: 30px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    background: rgba(255,255,255,0.6);
    background-image: initial;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 42px;
    box-shadow: 0 5px 40px rgba(0,0,0,0.4);
}

.requirements p{
    font-family: 'Lobster', cursive;
}



h3{
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    
}



footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	position: absolute; 
	top: 0; 
	right: 0;
    background-color: ghostwhite;
    opacity: 0.7;
    width: 200px;
    height: 400%;
	}

.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	padding: 25px; 
	margin-top: 150px; 
	width: 150px; 
    display: inline-block;
    font-size: 12px;
	}

a{
    color:  #A14A4A;
    text-decoration: none;
}

a:hover{
    color: darkslateblue;
    
}
